body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {

}

.callout-container {
    height: 100vh;

    background: url("../images/whiskey-background.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, 0.5);
}

.table-container {

}

.quotes-container {

}

.features-container {

}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
}

.block-divider--orange {
    background-color: #c08f2e;
}

.block-divider--short {
    width: 35px;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color:white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px;
    color: #a7a7a7;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--sand {
    color: white;
    background-color: #c08f2e;
    border-color: #c08f2e;
}

.btn--sand:hover,
.btn--sand:active,
.btn--sand:focus,
.btn--sand:active:focus {
    color: white;
    background-color: #5d4414;
    border-color: #5d4414;
}

.thead-light-sand {
    background-color: #c08f2e;
    color: #fff;
}